.time {
    text-align: center;
    padding: 32px;
    background-image: url("../../../public/imagens/fundo.png");
    background-color: var(--team-bg-color);
    position: relative;
}

.colorInput {
    position: absolute;
    top: 20px;
    right: 50px;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
    border-color: var(--team-border-color);
}

.time .colaboradores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}